* {
    direction: rtl;
    font-family: taj-rg;
}

.count-down.small .countdown-amount {
    margin: 0 0 0 50px;
}

h1 {
    font-weight: normal;
    font-family: taj-bd;
}

.social-icons {
    float: right;
}

.ryad-logo {
    float: left;
}